@use "sass:math";

.footer {
    $footer-height: 62px;
    $font-size: 11px;

    padding: 0 $padding-side;
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: 'Raleway', Arial, sans-serif;

    .navigation {
        ul {
            padding: 0;
            margin: 0;
        }

        li {
            list-style: none;
            display: flex;

            &:not(:first-child) {
                margin-left: 7px;
            }

            &::before {
                display: none;
            }
        }

        a {
            color: #dddddd;
            font-weight: 500;
            font-size: $font-size;
            text-transform: uppercase;
            text-decoration: none;
            line-height: $font-size;
            padding: math.div($footer-height - $font-size, 2) 0;
            display: inline-block;
            transition: color 0.2s linear;

            &:hover, &:focus {
                color: #db4a37;
            }
        }

        ul.menu {
            display: flex;

            ul {
                display: inline-block;
                margin-left: 7px;
            }
        }
    }

    .copyright {
        font-size: $font-size;
        line-height: $font-size;
        padding: math.div($footer-height - $font-size, 2) 0;
        color: #888888;

        a {
            text-decoration: none;
            color: #dddddd;
            font-weight: 500;
            text-transform: uppercase;
            text-decoration: none;
            transition: color 0.2s linear;

            &:hover, &:focus {
                color: #db4a37;
            }
        }
    }

    @media only screen and (max-width: $breakpoint-mobile) {
        display: block;
        padding-left: $padding-side-mobile;
        padding-right: $padding-side-mobile;

        .navigation {
            padding-top: math.div($footer-height - $font-size, 2);

            li, a {
                display: block;
            }

            ul.menu {
                display: block;

                ul {
                    display: block;
                }
            }

            li {
                &:not(:first-child) {
                    margin-left: 0px;
                }

                a {
                    padding: 5px 0;
                }
            }
        }
    }
}
