.posts-search {
    display: flex;
    margin: 0 -5px;

    input[type=search] {
        flex: 1 1 0;
    }

    > * {
        margin: 0 5px;
    }

    @media only screen and (max-width: $breakpoint-tablet) {
        padding: 10px;
    }
}
