// Global Variables
$padding-side: 50px;
$padding-side-mobile: 20px;
$breakline-color: #db4a37;
$background-color: #f1f1f1;
$content-background-color: #fff;
$color: #666;
$default-font: Arial, Helvetica, sans-serif;
$max-width: 1120px;
$title-color: #272727;
$title-hover-color: #db4a37;
$title-font: 'Raleway', Arial, sans-serif;
$link-color: #db4a37;
$link-hover-color: #db4a37;
$highlight-color: #db4a37;
$list-color: #db4a37;

// Breakpoints
$breakpoint-mobile: 500px;
$breakpoint-tablet: 850px;
