.wp-element-button {
    color: #db4a37;
    text-transform: uppercase;
    border: 1px solid #db4a37;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    padding: 0 25px;
    transition: color 0.2s linear, border-color 0.2s linear;
    border-radius: 0;

    &:visited {
      color: #db4a37;
    }

    &:hover, &:focus {
        border-color: #272727;
        color: #272727;
    }
}
